<!-- NAVBAR -->

<div class="sticky">
    <app-navbar></app-navbar>
</div>

<!-- NAVBAR -->


<!-- CAROUSEL -->

<div id="carouselExampleDark" class="carousel carousel-dark slide banner caption-animate" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

    <div class="carousel-inner" style="margin-left: -1px;">
        <div class="carousel-item active" data-bs-interval="3000">
            <img class="d-block w-100 showcase">
            <div class="carousel-caption d-md-block hp-1" style="color: white;">
                <h5 class="h-f-1 tx animated fadeInUp">
                    <div class="text animated fadeInRight">Outline</div>First slide label
                </h5>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="3000">
            <img class="d-block w-100 showcase1">
            <div class="carousel-caption d-md-block hp-1" style="color: white;">
                <h5 class="h-f-1 tx animated fadeInUp">
                    <div class="text animated fadeInRight">Outline</div>Second slide label
                </h5>
                <!-- <p class="p-f-1 tx animated fadeInUp">Some representative placeholder content for the second slide.</p> -->

            </div>
        </div>

        <div class="carousel-item" data-bs-interval="3000">
            <img class="d-block w-100 showcase2">
            <div class="carousel-caption d-md-block hp-1" style="color: white;">
                <h5 class="h-f-1 animated fadeInUp">
                    <div class="text animated fadeInRight">Outline</div>Third slide label
                </h5>
                <!-- <p class="p-f-1 animated fadeInUp">Some representative placeholder content for the third slide.</p> -->
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="3000">
            <img class="d-block w-100 showcase3">
            <div class="carousel-caption d-md-block hp-1" style="color: white;">
                <h5 class="h-f-1 animated fadeInUp">
                    <div class="text animated fadeInRight">Outline</div>fourth slide label
                </h5>
                <!-- <p class="p-f-1 animated fadeInUp">Some representative placeholder content for the third slide.</p> -->
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="3000">
            <img class="d-block w-100 showcase4">
            <div class="carousel-caption d-md-block hp-1" style="color: white;">
                <h5 class="h-f-1 animated fadeInUp">
                    <div class="text animated fadeInRight">Outline</div>fifth slide label
                </h5>
                <!-- <p class="p-f-1 animated fadeInUp">Some representative placeholder content for the third slide.</p> -->
            </div>
        </div>

    </div>
</div>

<!-- CAROUSEL -->


<!-- GALLERY -->

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 text-center py-5">GALLERY</h2>
    <section>
        <div class="rt-container">
            <div class="col-rt-12">
                <article id="cc-slider">
                    <input checked="checked" name="cc-slider" id="slide1" type="radio">
                    <input name="cc-slider" id="slide2" type="radio">
                    <input name="cc-slider" id="slide3" type="radio">
                    <input name="cc-slider" id="slide4" type="radio">
                    <input name="cc-slider" id="slide5" type="radio">
                    <div id="cc-slides">
                        <div id="overflow">
                            <div class="inner">
                                <article>
                                    <div class="cctooltip" style="margin-top: 1%;">
                                        <h3>Amazing / Photoshop / Photography</h3>
                                        <h4>By <a class="codeconvey" href="#">RUSHI.</a></h4>
                                    </div>
                                    <img src="/assets/imgs/images/2.jpg">
                                </article>
                                <article>
                                    <div class="cctooltip" style="margin-top: 1%;">
                                        <h3>Abstract Retro Photography</h3>
                                        <h4>By <a class="codeconvey" href="#">RUSHI.</a></h4>
                                    </div>
                                    <img src="/assets/imgs/images/1.jpg">
                                </article>
                                <article>
                                    <div class="cctooltip" style="margin-top: 1%;">
                                        <h3>Street Photography</h3>
                                        <h4>By <a class="codeconvey" href="#">RUSHI.</a></h4>
                                    </div>
                                    <img src="/assets/imgs/images/3.jpg">
                                </article>
                                <article>
                                    <div class="cctooltip" style="margin-top: 1%;">
                                        <h3>Fashion / Sport / Photography</h3>
                                        <h4>By <a class="codeconvey" href="#">RUSHI.</a></h4>
                                    </div>
                                    <img src="/assets/imgs/images/7.jpg">
                                </article>
                                <article>
                                    <div class="cctooltip" style="margin-top: 1%;">
                                        <h3>Fashion / Sport / Photography</h3>
                                        <h4>By <a class="codeconvey" href="#">RUSHI.</a></h4>
                                    </div>
                                    <img src="/assets/imgs/images/8.jpg">
                                </article>
                            </div>
                        </div>
                    </div>
                    <div id="controls">
                        <label for="slide1"></label>
                        <label for="slide2"></label>
                        <label for="slide3"></label>
                        <label for="slide4"></label>
                        <label for="slide5"></label>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>

<!-- GALLERY -->


<!-- What do we offer -->
<div class="container my-5 pb-5">
    <h2 class="pb-2 text-center py-5">What do we offer?</h2>
    <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>

    <mat-accordion class="example-headers-align text-center" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="expansion-text">

                <mat-panel-title>
                    MODULAR
                </mat-panel-title>

                <mat-panel-description class="text-dark">
                    Kitchen | Wardrobe | Storage
                    <mat-icon>kitchen</mat-icon>
                </mat-panel-description>

            </mat-expansion-panel-header>
            <div class="cotainer text-center my-2">
                <h4 style="font-weight: 500;">Kitchen</h4>
                <p class="text-secondary">Straight Parallel L-shape U-shape Island</p>

                <h4 style="font-weight: 500;">Wardrobe</h4>
                <p class="text-secondary">Sliding doors Swing doors</p>

                <h4 style="font-weight: 500;">Storage</h4>
                <p class="text-secondary">TV units Sideboards Chest of drawers Shoe racks</p>
                <p class="text-secondary">Bookshelves Wall-mounted storage Foyer units</p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header class="expansion-text">

                <mat-panel-title>
                    FURNITURE
                </mat-panel-title>

                <mat-panel-description class="text-dark">
                    Beds | Sofas | Storage | Seating | Tables | Pooja | Unit
                    <mat-icon>chair</mat-icon>
                </mat-panel-description>

            </mat-expansion-panel-header>

            <div class="cotainer text-center my-2">
                <h4 style="font-weight: 500;">Beds</h4>
                <p class="text-secondary">King Queen Single Bunk Wall-mounted</p>

                <h4 style="font-weight: 500;">Sofas</h4>
                <p class="text-secondary">Single 2-seaters 3-seaters sectionals diwans</p>

                <h4 style="font-weight: 500;">Storage</h4>
                <p class="text-secondary">4-seater 6-seater 8-seater</p>

                <h4 style="font-weight: 500;">Seating</h4>
                <p class="text-secondary">ottomans stools benches accent chairs</p>

                <h4 style="font-weight: 500;">Tables</h4>
                <p class="text-secondary">coffee tables side tables console tables end tables study tables</p>

                <h4 style="font-weight: 500;">Pooja Unit</h4>
                <p class="text-secondary">4-seater 6-seater 8-seater</p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header class="expansion-text">

                <mat-panel-title class="fu-de" style="text-align: left;">
                    FURNISHING & DECOR
                </mat-panel-title>

                <mat-panel-description class="text-dark">
                    Furnishing | Wall Treatment | Decor | Appliances | Lighting
                    <mat-icon>light</mat-icon>
                </mat-panel-description>

            </mat-expansion-panel-header>

            <div class="cotainer text-center my-2">
                <h4 style="font-weight: 500;">Furnishing</h4>
                <p class="text-secondary">curtains home linen upholstery rugs</p>

                <h4 style="font-weight: 500;">Wall treatment</h4>
                <p class="text-secondary">wallpapers cladding paneling decals</p>

                <h4 style="font-weight: 500;">Decor</h4>
                <p class="text-secondary">potted plants wall art mirrors</p>

                <h4 style="font-weight: 500;">Appliances</h4>
                <p class="text-secondary">fridge washing machine chimney hob microwave conventional oven</p>

                <h4 style="font-weight: 500;">Lighting</h4>
                <p class="text-secondary">lamps cove lights pendant fixtures table lamps outdoor lamps</p>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header class="expansion-text">

                <mat-panel-title class="fu-de" style="text-align: left;">
                    HOME IMPROVEMENT
                </mat-panel-title>

                <mat-panel-description class="text-dark">
                    False Ceiling | Painting | Plumbing | Flooring
                    <mat-icon>format_paint</mat-icon>
                </mat-panel-description>

            </mat-expansion-panel-header>

            <div class="cotainer text-center my-2">
                <h4 style="font-weight: 500;">False ceiling</h4>

                <h4 style="font-weight: 500;">Painting</h4>

                <h4 style="font-weight: 500;">Bathroom Remodeling</h4>

                <h4 style="font-weight: 500;">Flooring & Wall Tiling</h4>

                <h4 style="font-weight: 500;">Plumbing</h4>

                <h4 style="font-weight: 500;">Electrical</h4>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</div>

<!-- What do we offer -->
<div style="padding-bottom: 5%;">
    <app-testimonials></app-testimonials>
</div>