<!-- whatsapp float button -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=917700061918&text=Hi."
  class="float" target="_blank">
  <!-- <mat-icon class="my-float">contacts</mat-icon> -->
  <mat-icon class="my-float" svgIcon="whatsapp" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>
<br>
<a
  class="float2">
  <!-- <mat-icon class="my-float">contacts</mat-icon> -->
  <mat-icon class="my-float" svgIcon="form" aria-hidden="false" aria-label="Example thumbs up SVG icon" (click)="openBottomSheet()" style="text-decoration: none;color: #ffffff"></mat-icon>
</a>

<a href="#" id="scroll" style="display: none;"><span></span></a>


<router-outlet></router-outlet>